<!--register.html-->
<!--Authors: Adam Winter -->
<!--Date: 2023-3-14-->
<!--Descriptions:  For new User registration-->

<base href="../../">  <!--For route paths above the root: in this case /dashboard/event/id-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
  <div class="row">

    <div class="d-sm-none d-md-block col-2">
      <!--
      <h1>Left Margin</h1>
      -->
    </div>

    <div class="col-8 col-sm-12" >
      <div class= "container-fluid">
        <!--    -----------------------------------            MAIN     ---------------------------------------------------  -->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <br>
            <br>
            <h3>{{ @event->getName() }} &nbsp;:&nbsp; {{ @event->getDateread() }}</h3>
          </div>
        </div><!-- end row -->

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <span id="submitFeedback"></span>
          </div>
        </div><!-- end row -->

        <div class="row">

          <div class="col-md-4 col-sm-12">
            <br>
            <h4>Available Songs</h4>
            <br>
            <div id="songs_table_div"></div>
            <br>
          </div>

          <div class="col-md-4 col-sm-12">
            <br>
            <h4>Event Playlist</h4>
            <br>
            <div id="playlist_table_div"></div>
            <br>
          </div>

          <div class="col-md-4 col-sm-12">
            <br>
            <h4>Requests</h4>
            <br>
            <div id="requests_table_div"></div>
            <br>
          </div>

        </div><!-- end row -->

        <!--    -----------------------------------       END MAIN     ---------------------------------------------------  -->
      </div><!-- end inner container-->
    </div> <!-- between margins column-->

    <div class="d-sm-none d-md-block col-2">
      <!--
          <h1>Right Margin</h1>
      -->
    </div>

  </div><!-- end row -->
</div><!-- end container -->

<!--third-party scripts-->
<script src="//code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--My scripts-->
<script src="JS/dashboard/event.js"></script>

<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
