<!--register.html-->
<!--Authors: Adam Winter -->
<!--Date: 2023-3-14-->
<!--Descriptions:  For new User registration-->

<base href="../">  <!--For route paths above the root: in this case /dashboard/settings-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
  <div class="row">

    <div class="d-sm-none d-md-block col-2">
      <!--
      <h1>Left Margin</h1>
      -->
    </div>

    <div class="col-8 col-sm-12" >
      <div class= "container-fluid">
        <!--    -----------------------------------            MAIN     ---------------------------------------------------  -->

        <div class="row">

          <div class="col-md-6 col-sm-12">
            <br>
            <br>
            <br>

          </div>


          <div class="col-md-6 col-sm-12">
            <form id="form">
              <br>
              <label>DJ Name:               </label>
              <check if="{{ @_SESSION['user']->getDJname() == null }}">
                <true>
                  <input type="text" class="form-control" id="djname" name="djname" placeholder="Enter your DJ name">
                </true>
                <false>
                  <input type="text" class="form-control" id="djname" name="djname" value="{{ @_SESSION['user']->getDJname() }}">
                </false>
              </check>

              <label>Biography:                    </label>
              <check if="{{ @_SESSION['user']->getBio() == null }}">
                <true>
                  <textarea rows="10" cols="50" class="form-control" id="bio" name="bio" placeholder="Enter some information about yourself."></textarea>
                </true>
                <false>
                  <textarea class="form-control" id="bio" name="bio">{{ @_SESSION['user']->getBio() }}</textarea>
                </false>
              </check>
              <br>
              <br>
              <br>
              <div class="d-grid gap-2">
                <button type="button" class="rounded nextButton btn-outline-primary" id="btnUpdateSettings">Update</button>
              </div>
              <br>
              <span id="submitFeedback"></span>
            </form>
          </div>


        </div><!-- end row -->

        <!--    -----------------------------------       END MAIN     ---------------------------------------------------  -->
      </div><!-- end inner container-->
    </div> <!-- between margins column-->

    <div class="d-sm-none d-md-block col-2">
      <!--
          <h1>Right Margin</h1>
      -->
    </div>

  </div><!-- end row -->
</div><!-- end container -->

<!--third-party scripts-->
<script src="//code.jquery.com/jquery.js"></script>
<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

<!--My scripts-->
<script src="JS/dashboard/settings.js"></script>

<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
