<!--home.html-->
<!--Authors: Adam Winter, Britany Torres, Gavin Sherman-->
<!--Date: 2023-1-30-->
<!--Descriptions:  Body of the index page of the site. Home page for Hey Mr DJ.-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-sm-none d-md-block col-2">
            <!--
            <h1>Left Margin</h1>
            -->
        </div>

        <div class="row">

            <h1>Events Happening</h1>
            <p>see what's playing near you!</p>

        </div>

                <div class="row text-center">
                    <div class="col-4 text-center"></div>

                    <div class="col-4 text-center">

                        <br>
                        <div id="table_div"></div>


                    </div>
                </div>


        <div class="d-sm-none d-md-block col-2">
            <!--
                <h1>Right Margin</h1>
            -->
        </div>

    </div><!-- end row -->
</div><!-- end container -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="JS/events.js"></script>
<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
