<!--home.html-->
<!--Authors: Adam Winter, Britany Torres, Gavin Sherman-->
<!--Date: 2023-1-30-->
<!--Descriptions:  Body of the index page of the site. Home page for Hey Mr DJ.-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="row justify-content-evenly">
    <div class="col-4" class="content-square">
        <p>Check out what others are listening to around the world!</p>
        <a href="#">The Charts</a>
    </div>
    <div class="col-4" class="content-square">
        <ul>
            <li><a href="#">Find My Event</a></li>
            <li><a href="#">Find My DJ</a></li>
            <li><a href="#">Browse Songs</a></li>
            <li><a href="#">Make a Request</a></li>
        </ul>
    </div>
</div>
</div>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
