<!--home.html-->
<!--Authors: Adam Winter, Britany Torres, Gavin Sherman-->
<!--Date: 2023-1-30-->
<!--Descriptions:  Body of the index page of the site. Home page for Hey Mr DJ.-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <!--<div class="d-sm-none d-md-block col-2">


            <h1>Left Margin</h1>

            <p>testing</p>
        </div>-->

        <div class="col-8 col-sm-12" >
                <div class= "container-fluid">
                    <!--<div class="row">
                        <div class="col-6">
                            <br>
                            <h4>Check out what others are listening to around the world!</h4>
                            <br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="button">The Charts</button>
                            </div>

                        </div>

                        <div class="col-6">
                            <br>
                            <a role="button" class="btn btn-primary float-end"
                               href="events">
                                Find My Event
                            </a>
                            <br>
                        </div>
                    </div>-->
                    <br><br>
                    <div class="row">
                        <div class="col-6">
                            <br>
                            <br>
                            <h4>Check out what others are listening to around the world!</h4>
                            <br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="button">The Charts</button>
                            </div>
                        </div>

                        <div class="col-6">
                            <br>
                            <br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <img src="images/dj-pic.jpg" id="home-img" alt="picture of a turntable and headphones">
                            </div>

                        </div>
                    </div>
                    <br><br><br><br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card" >
                                <img src="images/pur-ple.jpg" class= "card-img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" class="card-link">Find Your Event</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" >
                                <img src="images/peri-winkle.jpg" class= "card-img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" class="card-link">Find Your DJ</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" >
                                <img src="images/pastel-green.jpg" class= "card-img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" class="card-link">Browse Songs</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" >
                                <img src="images/light-green.jpg" class= "card-img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" class="card-link">Make a Request</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div><!-- end inner container-->
        </div> <!-- between margins column-->

        <!--<div class="d-sm-none d-md-block col-2">

                <h1>Right Margin</h1>

        </div>-->

    </div><!-- end row -->
</div><!-- end container -->
<br>

<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
