<!--home.html-->
<!--Authors: Adam Winter, Britany Torres, Gavin Sherman-->
<!--Date: 2023-1-30-->
<!--Descriptions:  Body of the index page of the site. Home page for Hey Mr DJ.-->

<base href="../">

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <br>
    <div id="table_div"></div>
    <span id="submitFeedback"></span>
</div>

<!--end container-->

<script src="//code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="JS/playlists.js"></script>

<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->